@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:visited,
a:active {
  color: var(--color-text);
}

@media (min-width: 1024px) {
  body {
    display: flex;
  }

  #app {
    padding: 0 2rem;
  }
}

button {
  padding: 8px 12px;
  color: var(--color-button-text);
  font-size: 0.8rem;
  font-weight: bold;
  background-color: var(--color-button);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
