@import './base.css';
@import './typography.css';
@import './animations.css';
@import './form.css';
@import './product.css';

#app {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 1280px;
  padding: 0 1rem 3rem;
  font-weight: normal;

  @media (min-width: 768px) {
    padding: 1rem 2rem 3rem;
    gap: 32px;
  }
}

.in-row {
  display: flex;
  align-items: center;
  gap: 20px;
}
