@font-face {
  font-family: 'Syne';
  src: url('../fonts/Syne-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
}

@font-face {
  font-family: 'Gza';
  src: url('../fonts/Gza-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMachina';
  src: url('../fonts/PPNeueMachina-InktrapRegular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PPNeueMachina';
  src: url('../fonts/PPNeueMachina-InktrapUltrabold.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: 'PPNeueMachina';
  font-weight: 900;
}

a {
  text-decoration: none;
  color: var(--color-text);
}

a:visited,
a:active {
  color: var(--color-text);
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}
